.RegBlock {
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.form-group {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
position: relative;
}

.form-control {
margin-bottom: 7px;
width: 100%;
max-width: 350px;
display: block;
background-color: #fcf7d0;
border: 1px solid black;
border-radius: 3px;
padding: 9px 7px;
font-size: 12px;
transition: all .09s ease-out;
}

label {
position: absolute;
top: 9px;
left: 10px;
cursor: text;
font-size: 12px;
background: #fcf7d0;
padding: 0 3px;
}

.form-control:focus {
outline: none;
border-color: #887747;
box-shadow: 0 0 5px rgba(171, 149, 87, .6);
}

.form-control:focus ~ label {
top: -6px;
color: #887747;
font-size: 10px;
}

.form-control:valid ~ label {
top: -6px;
font-size: 10px;
}

#EndReg_btn {
height: 40px;
}