.moveTab {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    width: 100%;
    max-width: 1000px;
    height: 25px;
    font-size: 20;
    background-color: #CDA560;
    box-shadow: 0 0 8px rgba(66, 43, 8, 1);
    color: #fcf7d0;
    border-bottom: solid 2px rgba(133, 60, 15);
}

#BattleWindow {
    user-select: none;
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    max-height: 1000px;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#enemyField {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#timmateField {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BattleButton {
    display: block;
}

.ENEMY {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 6px;
}

.TIMMATE {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 6px;
}

.AttackedCharacter {
    box-shadow: 3px 2px 30px rgba(255, 0, 0, 1);
}

.BarBorder {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: gray;
    bottom: -28px;
    border: solid 2px black;
    width: 100px;
    height: 14px;
}

.Bar {
    position: absolute;
    left: -1.7px;
    background-color: red;
    border: solid 2px black;
    border-right: none;
    height: 14px;
    width: 100px;
    z-index: 1;
}

.battleImg {
    width: 95.7px;
    height: 95.7px;
    border: solid 4px blue;
}

.BarCount {
    position: absolute;
    color: white;
    left: 5px;
    font-size: 90%;
    z-index: 2;
}

.lootWindow {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    user-select: none;
    z-index: 1000;
}

.forLoot {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    user-select: none;
}

.lootDiv {
    width: 55px;
    height: 55px;
    border: solid 1px black;
    margin: 1px;
}

.battleResult {
    margin-bottom: 40px;
}