#table {
    user-select: none;
    table-layout: fixed;
    width: 100vw;
    height: 100vw;
    max-width: 1000px;
    max-height: 1000px;
    background-size: 100%;
    border-collapse: collapse;
}

td {
    position: relative;
    font-size: 5px;
    border: solid 1px black;
}

.tableElement {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    inset: 0;
}

.transitObj {
    position: absolute;
    display: flex;
    backdrop-filter: blur(5px);
    border-radius: 25%;
    margin: 10%;
    width: 80%;
    height: 80%;
    bottom: 0;
    left: 0;
}

.transitObjText {
    background-color: #94B6BA;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    font-size: 100%;
    border-radius: 25%;
}

.actionCard {
    display: none;
    position: absolute;
    width: 55vw;
    max-width: 450px;
    height: 70vw;
    max-height: 600px;
    background-color: #fcf7d0;
    z-index: 1000;
    border: solid 2px black;
    border-radius: 17px;
}

.cardbtn {
    left: 50%;
    transform: translateX(-50%);
    height: 15%;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    top: 5px;
}

.BattleChoose {
    left: 50%;
    transform: translateX(-50%);
    height: 15%;
    max-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 65%;
}

.Dialog {
    left: 50%;
    transform: translateX(-50%);
    height: 15%;
    max-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 65%;
}

.tim {
    
}

.en {
    
}

.BattleMenu {
    user-select: none;
    display: none;
    align-items: center;
    flex-direction: column;
}

.choosenHero {
    display: flex;
    justify-content: center;
    margin: 3px -3px;
    padding: 10px 3px;
    background-color: #fcf7d0;
    border-radius: 10px;
    color: white;
}

.choosenElems {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 3px;
    background-color: gray;
    border: solid 2px blue;
}

.elems {
    width: 65px;
    height: 65px;
    margin: 1px;
    border: solid 2px blue;
}

.heroes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px 4px;
    background-color: #fcf7d0;
    border-radius: 10px;
}

.BattleButton {
    display: block;
}

.openImg {
    width: 100%;
    height: 100%;
}

.choosen {
    filter: grayscale(70%);
}

.forFunc {
    position: absolute;
    width: 100%;
    height: 100%;
}

.header {
    border-radius: 15px;
    max-width: 1000px;
    margin: 0 5px 2px 5px;
}

.currentLocation {
    display: inline-block;
    border: solid 2px #887747;
    border-radius: 3px;
    padding: 4px;
    margin: 2px;
}

.filter {
    display: none;
    width: 100%;
    height: 200%;
    backdrop-filter: grayscale(60%);
    position: absolute;
    z-index: 100;
}

.DialogMenu {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 200%;
    z-index: 101;
}

.FooterAuto {
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
    width: 98%;
    max-width: 980px;
    z-index: 101;
}

.Footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    min-height: 150px;
    background-color: rgba(120, 54, 18, 0.4);
    border-radius: 7px;
    font-size: 13;
    box-shadow: 0 0 5px rgba(79, 22, 8, 1);
}

.text {
    color: white;
    text-shadow: red 0 0 5px;
    margin: 5px;
    padding-bottom: 15px;
}

.name {
    float: left;
    margin: 15px;
    margin-top: 8px;
    font-size: 18;
    color: white;
    text-shadow: red 0 0 5px;
    border-bottom: solid rgba(120, 54, 18) 1px;
}

.CharactersMenu {
    display: none;
    width: 100%;
    min-height: 100%;
    max-width: 1000px;
    background-color: #fcf7d0;
}

.OpenHeroes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px 4px;
}

.unlockedHeroes {
    width: 65px;
    height: 65px;
    margin: 1px;
    border: solid 2px blue;
}

.HeroCard {
    display: none;
    position: absolute;
    width: 100vw;
    max-width: 1000px;
    height: 100vh;
    background-color: #fcf7d0;
    z-index: 1000;
}

.heroImg {
    width: 80vw;
    height: 80vw;
}

.centerCard {
    width: 100%;
    display: flex;
    justify-content: center;
}