.inventory {
    display: none;
    width: 100vw;
    height: 100vh;
    max-width: 1000px;
    background-color: #fcf7d0;
}

#equipmentInv {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    width: 98%;
    max-width: 980px;
    user-select: none;
}

.invCell {
    width: 55px;
    height: 55px;
    border: solid 1px black;
    margin: 1px;
}